<!-- <header>
  <h1>The Best Book App</h1>
  <nav>
      <ul>
          <li><a href = "/">Home</a></li>
          <li><a href = "/searchForm">Search for New Books</a></li>
      </ul>
  </nav>
  </header> -->

  <header class="dropdown">
    <!-- <i class="dropbtn" class="fas fa-bars fa-2x"></i> -->
    <div id = "header"> Book App </div>
      <nav class='dropdown-content'>
          <a id="home" href="/">Home</a>
          <a id="search" href="/search-form">Search for New Books</a>
          <a id="about" href="#">About</a>
      </nav>
  </header>