<!DOCTYPE html>
<html>

<head>
  <title>Find a Book</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
<div>
 <%- include('../partials/header %>
</div>
    <h2>Search by Title or Author</h2>
    <form method="get" action="../search">
      <div>
        <input name="search" placeholder="Enter a title or author" />
      </div>
      <div>
        <label>
          <input type="radio" name="searchby" value="intitle">
          Title
        </label>
        <label>
          <input type="radio" name="searchby" value="inauthor">
          Author
        </label>
      </div>
      <button type="submit">Search the Google Books</button>
    </form>
  
</body>

</html>