<!DOCTYPE html>
<html>

<head>
  <title>Find a Book</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <header>
    <h1>The Best Book App</h1>
  </header>
    <h2>Search by Title or Author</h2>
    <form method="post" action="/search">
      <div>
        <input name="search" placeholder="Enter a title or author">
      </div>
      <div>
        <label>
          <input type="radio" name="searchby" value="intitle">
          Title
        </label>
        <label>
          <input type="radio" name="searchby" value="inauthor">
          Author
        </label>
      </div>
      <button type="submit">Search Book</button>
    </form>
  
</body>

</html>